<h1>Sign up</h1>

<form action="/signup" method="POST">
  Nombre:
  <input type="text" name="name">
  Email:
  <input type="email" name="email">
  Contraseña:
  <input type="password" name="password">
  <button type="submit">Signup</button>
</form>