<div id="map" style="width:800px; height:500px"></div>

<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACXj5MT5dfwSpf5PFu3hoVOIGdSopWBjM&callback=initMap"
async defer></script>