<form action="/profile/product" method="POST">
  Product Name:
  <input type="text" name="productName">
  Description:
  <input type="text" name="productDescription">
  Minimum Price:
  <input type="number" name="productMinPrice">
  maximum Price
  <input type="number" name="productMaxPrice" >

<button type="submit">Create new product</button>

</form>
