<div class="navbar-fixed">
  <nav class="main-navbar">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left"><img src="/img/cambalache-logo.png" /></a>
      <ul class="right">
        <% if (session.email) { %>
          <li>
            <a class="show-on-medium-and-up hide-on-small-only" href="/logout"><i class="material-icons left">exit_to_app</i>Log out</a>
            <a class="hide-on-med-and-up show-on-small" href="/logout"><i class="material-icons left">exit_to_app</i></a>
          </li>
        <% } else { %>
          <li>
            <a class="show-on-medium-and-up hide-on-small-only" href="/login"><i class="material-icons left">exit_to_app</i>Log in / Sign up</a>
            <a class="hide-on-med-and-up show-on-small" href="/login"><i class="material-icons left">exit_to_app</i></a>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
</div>