<header>

<button type="submit">Login with email</button>
<a href="/auth/facebook">Login With Facebook</a>
 <a href="/auth/google">Login with Google</a>
<button type="submit">Sign up</button>

</header>
<div> lorem ipsum dolor </div>
