<div class="modal login" id="login">
  <div class="modal-content">
    <h5>Log in</h4>
    <div class="row">
      <form action="/login" method="POST" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" name="email" class="validate" required>
            <% if (typeof(error) != 'undefined' && error.email) { %>
              <label for="email" data-error="<%= error.email %>">Email</label>
            <% } else { %>
              <label for="email">Email</label>
            <% } %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" name="password" class="validate" required>
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 submit-container">
            <button class="btn btn-cambalache btn-config" type="submit" name="action">
              <i class="material-icons left">send</i>Submit
            </button>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col s12 submit-container">
            <a href="/auth/google" class="btn btn-google btn-config">
              <i class="fa fa-google left" aria-hidden="true"></i>Log in with Google
            </a>
            <a href="/auth/facebook" class="btn btn-facebook btn-config">
              <i class="fa fa-facebook left" aria-hidden="true"></i>Log in with Facebook
            </a>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col s12">
            <p>Do yo prefer to sign up with your email? <a href="#signup" class="modal-trigger modal-close">Go here</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal login" id="signup">
  <div class="modal-content">
    <h5>Sign up</h5>
    <div class="row">
      <form action="/signup" method="POST" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="name-sign" type="text" name="name" class="validate" required>
            <label for="name-sign">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email-sign" type="email" name="email" class="validate" required>
            <label for="email-sign">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password-sign" type="password" name="password" class="validate" required>
            <label for="password-sign">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 submit-container">
            <button class="btn btn-cambalache btn-config" type="submit" name="action">Submit
              <i class="material-icons left">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<section class="home">
  <img class="home-img" src="img/home.jpg" />
  <div class="overlay">
    <div class="container">
      <div class="info-home">
        <h1 class="valign-wrapper">Your old stuff can be someones passion</h1>
      </div>
    </div>
  </div>
</section>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    Ironhack proyect developed by Paloma Ramírez and Pablo Laso
    </div>
  </div>
</footer>
