<header>

<button type="submit">Login with email</button>
<button type="submit">Login with Facebook</button>
<button type="submit">Login with Google +</button>
<button type="submit">Sign up</button>

</header>
<div> lorem ipsum dolor </div>
