<!--<header>

<button type="submit">Login with email</button>
<a href="/auth/facebook">Login With Facebook</a>
 <a href="/auth/google">Login with Google</a>
<button type="submit">Sign up</button>

</header>
<div> lorem ipsum dolor </div>-->

<div class="modal" id="login">
  <div class="modal-content">
    <h5>Log in</h4>
    <div class="row">
      <form action="/login" method="POST" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" name="email" class="validate" required>
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" name="password" class="validate" required>
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 submit-container">
            <button class="btn btn-cambalache btn-config" type="submit" name="action">Submit
              <i class="material-icons left">send</i>
            </button>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col s12 submit-container">
            <button class="btn btn-google btn-config" type="submit" name="action">
              <i class="fa fa-google left" aria-hidden="true"></i>Log in with Google
            </button>
            <button class="btn btn-facebook btn-config" type="submit" name="action">
              <i class="fa fa-facebook left" aria-hidden="true"></i>Log in with Facebook
            </button>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col s12">
            <p>Do yo prefer to sign up with your email? <a href="#">Go here</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<section class="home">
  <img class="home-img" src="img/home.jpg" />
  <div class="overlay">
    <div class="container">
      <div class="info-home">
        <h1 class="valign-wrapper">Your old stuff can be someones passion</h1>
        <a class="btn-large btn-config btn-cambalache z-depth-2" href="/login">Discover more</a>
      </div>
    </div>
  </div>
</section>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    Ironhack proyect developed by Paloma Royola and Pablo Laso
    </div>
  </div>
</footer>
