<!--<header>

<button type="submit">Login with email</button>
<a href="/auth/facebook">Login With Facebook</a>
 <a href="/auth/google">Login with Google</a>
<button type="submit">Sign up</button>

</header>
<div> lorem ipsum dolor </div>-->

<div class="modal" id="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
</div>

<section class="home">
  <img class="home-img" src="img/home.jpg" />
  <div class="overlay">
    <div class="container">
      <div class="info-home">
        <h1 class="valign-wrapper">Your old stuff can be someones passion</h1>
        <a class="btn-large btn-cambalache z-depth-2" href="/login">Discover more</a>
      </div>
    </div>
  </div>
</section>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    Ironhack proyect developed by Paloma Royola and Pablo Laso
    </div>
  </div>
</footer>
