<div class="container white-container z-depth-1">
  <h4>Add a new pickup point</h4>
  <div class="row">
    <div class="col s12">
      <div id="map" class="map"></div>
      <form action="/pickups" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <input id="name" type="text" name="name" class="validate" required>
            <label for="name">Pickup name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="open-hour" type="number" name="openHour" class="validate" required>
            <label for="open-hour">Opening hour</label>
          </div>
          <div class="input-field col s6">
            <input id="close-hour" type="number" name="closeHour" class="validate" required>
            <label for="close-hour">Closing hour</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="latitude" type="text" name="latitude" class="validate" placeholder="Click on the map to fill this field" required>
            <label for="latitude">Latitude</label>
          </div>
          <div class="input-field col s6">
            <input id="longitude" type="text" name="longitude" class="validate" placeholder="Click on the map to fill this field" required>
            <label for="longitude">Longitude</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 submit-container">
            <button class="btn btn-cambalache btn-config" type="submit" name="action">
              <i class="material-icons left">send</i>Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJf0SFMueAL09OaMq4QHvqlLiSOTTkDZA&callback=initMap"
async defer>
</script>

<script type="text/javascript">

  var map;
  var currentMarker;

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 40.416631, lng: -3.703748},
      zoom: 14,
      fullscreenControl: false
    });

    setListener();
  }

  function setListener() {
    map.addListener('click', function(event) {
      if (currentMarker != undefined) {
        currentMarker.setMap(null);
      }

      addMarker(event.latLng.toJSON());

      document.getElementById('latitude').value = currentMarker.position.lat();
      document.getElementById('longitude').value = currentMarker.position.lng();
    });
  };

  function addMarker(position) {
    currentMarker = new google.maps.Marker({
        position: position,
        map: map
    });
  }
</script>
